table {
    margin: 1% ;
}
.tg {
    border-collapse: collapse;
}

.tg2 td {
    border-color:black ;
    border-style:solid ;
    border-width:1px ;
    font-family:Arial, sans-serif ;
    font-size:14px ;
    overflow:hidden ;
    padding: 1%;
    word-break:normal ;
    margin:5px;
}

.tg2 th {
    border-color:black ;
    border-style:solid;
    border-width:1px ;
    font-family:Arial, sans-serif ;
    font-size:14px;
    font-weight:normal ;
    overflow:hidden;
    word-break:normal;
    width:auto;
    margin:5px;
}

th {
  text-align: center !important;
}

.tg td {
    border-color:black ;
    border-style:solid ;
    border-width:1px ;
    font-family:Arial, sans-serif ;
    font-size:14px ;
    overflow:hidden ;
    padding: 1%;
    word-break:normal ;
}
.tg th {
    border-color:black ;
    border-style:solid;
    border-width:1px ;
    font-family:Arial, sans-serif ;
    font-size:14px;
    font-weight:normal ;
    overflow:hidden ;
    word-break:normal;
    width:150px;
}

/* n ta funcionando daqui pra baixo */
.tg .tg-0lax {
    text-align:left !important;
    vertical-align:top !important;
    padding: 100px 50px !important;
    cursor: pointer !important;
}
