body {
    padding: 0 !important;
    margin: 0 !important;
}
ul {
    list-style-type: none !important;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden !important;
    background-color: black !important;
}

li {
    float: right !important;
}

li a {
    display: inline-block !important;
    color: white !important;
    text-align: center !important;
    padding: 22px 14px 22px 14px !important;
    text-decoration: none !important;
}

img, .drobtn {
  margin: 10px 18px 3px 15px !important;
}

.drobtn {
  cursor: default !important;
}

li a:hover {
  background-color: green !important;
}

li.dro {
    display: inline-block !important;
    text-align: center !important;
}

.dro-content {
    display: none !important;
    position: absolute !important;
    background-color: rgba(0,0,0,8) !important;
    text-align: center !important;
}

.dro-content a {
    color: white !important;
    background-color: black !important;
    text-decoration: none !important;
    display: block !important;
}

.dro-content a:hover {
    background-color: green !important;
}

.dro:hover .dro-content {
    display: block !important;
}

.tam {
  width: 100px !important;
  height: 100px !important;
  padding: 0px !important;
  margin: 0px !important;
}
.tam2 {
  width: 40px !important;
  height: 40px ;
}
